<nav>
  <h1>User Authentication System With Node and Mysql</h1>
</nav>
<div class='container mt-4'>
  <h1>Welcome!</h1>
  <h3>Please authenticate yourself</h3>
  <div class='mt-4'>
    <a class='btn btn-primary' href='/register' role='button'>Register</a>
    <a class='btn btn-primary' href='/login' role='button'>Login</a>
  </div>
</div>